@model Backend1.Models.OperationResult

<h2>AccessServiceDirectly</h2>

<p><b>Rand Value First: @Model.FirstNumber</b></p>
<p><b>Rand Value Second: @Model.SecondNumber</p>

<p><b>Add:</b><br/> @Model.FirstNumber + @Model.SecondNumber = @Model.AddResult</p>
<p><b>Sub:</b><br /> @Model.FirstNumber - @Model.SecondNumber = @Model.SubtractResult</p>
<p><b>Mult:</b><br /> @Model.FirstNumber * @Model.SecondNumber = @Model.MultiplyResult</p>

@if (string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p><b>Div:</b><br /> @Model.FirstNumber / @Model.SecondNumber = @Model.DivideResult</p>
}
else
{
    <p>Error: @Model.ErrorMessage</p>
}

